<div class="background-titre"> <h1> GESTION DES UTILISATEURS </h1> </div>


<div class="ajouter-content">

  <div class="ajouter-entete">
    <div class="modifier-return" [routerLink]="['/Utilisateur/Acces']"> <i class="fa-solid fa-angles-left"></i> RETURN </div>
    <div class="modifier-titre"> MODIFICATION DE L'ACCÈS </div>
  </div>


  <form class="yellow-border">
    <div class="form-content">
      <div style="display:flex; justify-content:center; align-items:center; margin-bottom:23px">
        <label for="nom" style="transform: translateX(-3px); padding-bottom:7px; font-size: 20px;">UTILISATEUR :</label>
        <input class="yellow-border" type="text" value="{{ User.userName }}" style="cursor:not-allowed; font-size:20px;" readonly>
      </div>

      <table id="myTable" aria-labelledby="tableLabel" *ngIf="accesTable">
        <thead>
          <tr>
            <th>APPLICATION</th>
            <th>URL</th>
            <th style="padding-right:50px" >ACCÈS</th>
            <th>ROLE</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr *ngFor="let t of accesTable; let i = index">
            <td>{{ t.nomApplication }}</td>
            <td>{{ t.url }} </td>
            <td (click)="onAccesSelect($event ,t)" style="display:flex; justify-content:center; cursor:pointer; height:100%">
              <span style="transform:translateY(4px)" class="no-select" appCellStyle="{{ t.acces === false ? '✖' : '✔' }}">{{ t.acces === false ? '✖' : '✔' }}</span>
            </td>
            <td>
              <select (change)="onRoleSelect($event ,t)">
                <option selected> {{ t.nomRole }} </option>
                <option disabled style="color:aliceblue; background-color: #1DDD92;"> Choisissez un role </option>
                <option id="role" name="role" *ngFor="let role of t.roles; let i = index"
                        [value]="role.id" [(ngModel)]="role.nom">  {{ role.nom }} </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table><br /><br />
      
    </div>
  </form>
  <br /><br />

</div>


