<div class="AccueilContent" style="display:flex; justify-content:center; align-items:center;">

  <img src="../../assets/Images/PC-AccueilPrincipale.png" style="width:350px; height:350px" />

  <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; margin:0px 0px 0px -20px;">
    <img src="../../assets/Images/WBConcept-AccueilPrincipale.png" style="width:70%;" />

      <div style="max-width:600px;" *ngIf="showError" class="alert alert-danger centered-element" role="alert">  {{errorMessage}} </div>
      <div style="max-width:600px;" *ngIf="showSuccess" class="alert alert-success centered-element" role="alert">  {{successMessage}} </div>

      <form class="register" [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
        <input class="auth-field" type="text" placeholder="EMAIL" id="email" name="email" formControlName="email" required>

        <button id="forgotPasswordBtn" type="submit" class="auth-btn" [disabled]="!forgotPasswordForm.valid">VALIDER</button>
        <div style="color:#C4BDF6; padding-top: 5px"> •────────────────────────• </div>
        <div class="mdp-oublié" [routerLink]="['/Authentification']"> Revenir à l'écran de l'accueil </div>

      </form>
  </div>
</div>


