<div class="AccueilContent" style="display:flex; justify-content:center; align-items:center;">

  <img src="../../assets/Images/PC-AccueilPrincipale.png" style="width:350px; height:350px" />

  <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; margin:0px 0px 0px -20px;">
    <img src="../../assets/Images/WBConcept-AccueilPrincipale.png" style="max-width:325px;" />
    <div style="max-width:600px;" *ngIf="showError" class="alert alert-danger centered-element" role="alert"> <span [innerHTML]="errorMessage"></span>  </div>
    <div style="max-width:600px;" *ngIf="showSuccess" class="alert alert-success centered-element" role="alert"> Votre mot de passe a été réinitialisé avec succès ! </div>

    <form class="register" [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">

      <em *ngIf="validateControl('password') && hasError('password', 'required')">Saisir le mot de passe !</em>
      <input class="auth-field" type="password" id="password" placeholder="MOT DE PASSE" formControlName="password" />

      <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Saisir la confirmation de mot de passe !</em>
      <input class="auth-field" type="password" id="confirm" placeholder="CONFIRMATION MOT DE PASSE" formControlName="confirm" />
      <em *ngIf="hasError('confirm', 'mustMatch')" style="transform:translateY(-10px)">Les mots de passe doivent être identiques !</em>

      <button id="resetPasswordBtn" type="submit" class="auth-btn" [disabled]="!resetPasswordForm.valid">VALIDER</button>
      <div style="color:#C4BDF6; padding-top: 5px"> •────────────────────────• </div>
      <div class="mdp-oublié" [routerLink]="['/Authentification']">  Revenir à l'écran de l'accueil </div>

    </form>
  </div>
</div>


