
  <div class="sidebar">
    <ul class="menu-list">

      <li class="nav-item" [routerLinkActive]="['link-active-Accueil']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="textnavbar" [routerLink]="['/Accueil']">
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelectAccueil.png" height="38px" width="30px"> ACCUEIL
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']" >
        <a class="textnavbar" [routerLink]="['/Application']">
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelect.png" height="38px" width="30px"> APPLICATIONS
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="textnavbar" [routerLink]="['/Fonction']">
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelect.png" height="38px" width="30px"> FONCTIONS
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']" >
        <a class="textnavbar" [routerLink]="['/Role']">
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelect.png" height="38px" width="30px"> RÔLES
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']" >
        <a class="textnavbar" [routerLink]="['/Permission']">
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelect.png" height="38px" width="30px"> PERMISSIONS
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active-users']" >
        <a class="textnavbar" [routerLink]="['/Utilisateur']" >
          &nbsp;&nbsp;&nbsp;
          <img src="../../assets/Images/SideBarSelectBas.png" height="38px" width="30px"> UTILISATEURS
        </a>
      </li>


    </ul>
  </div>





